@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Sync Kolab */

#SyncKolab-button {
  list-style-image: url("chrome://synckolab/skin/selectsmtp24.png");
}

#SyncKolab-button-ab {
  list-style-image: url("chrome://synckolab/skin/selectsmtp24.png");
}

toolbar[iconsize="small"] #SyncKolab-button, toolbar[iconsize="small"] #SyncKolab-button-ab {
  list-style-image: url("chrome://synckolab/skin/selectsmtp16.png");
}

/* icons in configuration */
#newConfig {
	 list-style-image: url(chrome://synckolab/skin/new.png);
}

#loadConfig {
	list-style-image: url(chrome://synckolab/skin/import.png);
}

#delConfig {
	list-style-image: url(chrome://synckolab/skin/trash.png);
}


