/* Sync Kolab */

#SyncKolab-button {
  list-style-image: url("chrome://synckolab/skin/selectsmtp.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#SyncKolab-button:hover {
  -moz-image-region: rect(24px 24px 48px 0px);
} 

#SyncKolab-button:hover:active,
#SyncKolab[open] {
  -moz-image-region: rect(24px 24px 48px 0px);
} 

#SyncKolab-button[disabled] {
  -moz-image-region: rect(48px 24px 72px 0px);
} 

toolbar[iconsize="small"] #SyncKolab-button {
  list-style-image: url("chrome://synckolab/skin/selectsmtp-small.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #SyncKolab-button:hover {
  -moz-image-region: rect(16px 16px 32px 0px);
} 

toolbar[iconsize="small"] #SyncKolab-button:hover:active,
toolbar[iconsize="small"] #SyncKolab-button[open] {
  -moz-image-region: rect(16px 16px 32px 0px);
} 

toolbar[iconsize="small"] #SyncKolab-button[disabled] {
  -moz-image-region: rect(32px 16px 48px 0px);
}

/* icons in configuration */
#newConfig {
	 list-style-image: url(chrome://synckolab/skin/new.png);
}

#loadConfig {
	list-style-image: url(chrome://synckolab/skin/import.png);
}

#delConfig {
	list-style-image: url(chrome://synckolab/skin/trash.png);
}

/* Progress window */
/*
progressmeter#progress { color: blue; }
progressmeter#progress[mode="undetermined"] {
  	color: blue;
   -moz-binding:url("chrome://global/content/bindings/progressmeter.xml#progressmeter-undetermined");
}

treechildren::-moz-tree-row(selected) {
  background-color: #DDD;
}
treechildren::-moz-tree-row(selected, focus) {
  background-color: #E8E8E8;
}
*/
